@font-face {
    font-family: 'PixelOperator';
    src: url("/static/fonts/PixelOperator.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --btn-height: 2em;
    --min-btn-width: 4em;
    --custom-white: #ededed;
    --custom-grey: #cccccc;
    --custom-black: #2b2b2b;
    --thistle: #9c6464;
    --fairy-tale: #ffcccc;
    --carnation-pink: #cc9999;
    --peach-orange: #de9c23;
    --ochre: #8f4c00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PixelOperator', sans-serif;
    color: var(--custom-black);
    width: 100vw;
    max-width: 100vw;
    height: auto;
    min-height: 100vh;
    background-image: url("/static/images/apple.gif");
    background-repeat: repeat;
    background-color: var(--custom-white);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: sticky;
    top: 1em;
    width: 100%;
    min-height: 4em;
    height: auto;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--custom-white);
    border-bottom: 5px dotted var(--carnation-pink);
    border-top: 5px dotted var(--carnation-pink);
    margin-bottom: 2em;
    z-index: 1000;
}

.homeButton {
    font-size: 2em;
}

.title {
    font-size: 3em;
}

.profile {
    font-size: 1.4em;
}

main {
    min-height: calc(100vh - 4em);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    height: auto;
    min-height: 12vh;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    background-color: var(--custom-grey);
    border-top: 5px dotted var(--custom-white);
    text-align: center;
    margin-top: 2em;
}

button {
    all: unset;
    display: inline-block;
    cursor: pointer;
}

a {
    color: var(--ochre);
}

a:hover, a:active {
    color: var(--peach-orange);
}

a:visitied {
    color: var(--peach-orange);
}

.btn {
    background-color: var(--custom-grey);
    color: var(--custom-black);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: var(--btn-height);
    min-width: var(--min-btn-width);
    padding: 15px;
    border-left: 3px solid var(--custom-white);
    border-top: 3px solid var(--custom-white);
    border-right: 3px solid var(--custom-grey);
    border-bottom: 3px solid var(--custom-grey);
    outline: 2px solid var(--custom-black);
    font-size: 1.5em;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.btn:hover {
    background-color: var(--carnation-pink);
    color: white;
    outline-color: white;
    border-left: 3px solid var(--fairy-tale);
    border-top: 3px solid var(--fairy-tale);
    border-right: 3px solid var(--thistle);
    border-bottom: 3px solid var(--thistle);
}

.btn:active {
    border-left: 3px solid var(--thistle);
    border-top: 3px solid var(--thistle);
    border-right: 3px solid var(--fairy-tale);
    border-bottom: 3px solid var(--fairy-tale);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: var(--custom-white);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 15px;
}

.profileLink {
    height: 2em;
    width: 100% !important;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5px;
}

.footerContainer {
    width: calc(90% / 3);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.footerContainer > * {
    margin: 5px;
}

.spacer {
    display: flex;
    flex-grow: 1;
}

.bold {
    font-weight: bold;
}

.show {
    display: block !important;
}

.noShow {
    display: none !important;
}

.line {
    height: 3px;
    width: 100%;
    background-color: var(--carnation-pink);
    border-radius: 100%;
    opacity: 0.33;
    margin: 1em;
}

.dropdownContent.show {
    display: block;
    position: absolute;
    top: 35px;
    right: -5px;
}

.logout {
    background-color: var(--custom-grey);
    border-left: 3px solid white;
    border-top: 3px solid white;
    border-right: 3px solid grey;
    border-bottom: 3px solid grey;
}

.logout:hover {
    background-color: var(--peach-orange);
    color: white;
    outline-color: white;
    border-left: 3px solid var(--custom-white);
    border-top: 3px solid var(--custom-white);
    border-right: 3px solid var(--ochre);
    border-bottom: 3px solid var(--ochre);
}

.logout:active {
    border-left: 3px solid var(--ochre);
    border-top: 3px solid var(--ochre);
    border-right: 3px solid var(--custom-white);
    border-bottom: 3px solid var(--custom-white);
}

/* Everything in Home below here */
.mainContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

#leftColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#rightColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    gap: 1em;
}

.categoryButton {
    background-color: var(--custom-grey);
    color: var(--custom-black);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: var(--btn-height);
    min-width: var(--min-btn-width);
    width: calc(100% / 4);
    padding: 15px;
    border-left: 3px solid var(--custom-white);
    border-top: 3px solid var(--custom-white);
    border-right: 3px solid var(--custom-grey);
    border-bottom: 3px solid var(--custom-grey);
    outline: 2px solid var(--custom-black);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.categoryButton:hover {
    background-color: var(--carnation-pink);
    color: white;
    outline-color: white;
    border-left: 3px solid var(--fairy-tale);
    border-top: 3px solid var(--fairy-tale);
    border-right: 3px solid var(--thistle);
    border-bottom: 3px solid var(--thistle);
}

.categoryButton:active {
    border-left: 3px solid var(--thistle);
    border-top: 3px solid var(--thistle);
    border-right: 3px solid var(--fairy-tale);
    border-bottom: 3px solid var(--fairy-tale);
}

.activeCategory {
    background-color: var(--carnation-pink);
    color: white;
    outline-color: white;
    border-left: 3px solid var(--fairy-tale);
    border-top: 3px solid var(--fairy-tale);
    border-right: 3px solid var(--thistle);
    border-bottom: 3px solid var(--thistle);
}

.ghost {
    opacity: 0.5;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    min-height: 500px;
    height: auto;
    background-color: var(--custom-white);
    padding: 1.4em;
}

.subcategoryColumn {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.subcategoryColumn h2 {
    margin-bottom: 0.4em;
    font-size: 2em;
}

.promptContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 0.75em;
    width: 100%;
}

.selectablePrompt {
    background-color: var(--custom-grey);
    color: var(--custom-black);
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    height: 3em;
    width: calc(100% / 3.5);
    padding: 5px;
    border-left: 3px solid var(--custom-white);
    border-top: 3px solid var(--custom-white);
    border-right: 3px solid var(--custom-grey);
    border-bottom: 3px solid var(--custom-grey);
    outline: 2px solid var(--custom-black);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.prompt:hover {
    background-color: var(--carnation-pink);
    color: white;
    outline-color: white;
    border-left: 3px solid var(--fairy-tale);
    border-top: 3px solid var(--fairy-tale);
    border-right: 3px solid var(--thistle);
    border-bottom: 3px solid var(--thistle);
}

.prompt:active {
    border-left: 3px solid var(--thistle);
    border-top: 3px solid var(--thistle);
    border-right: 3px solid var(--fairy-tale);
    border-bottom: 3px solid var(--fairy-tale);
}