{% extends "base.html" %}

{% block title %}The Ultimate Character Prompt Generator{% endblock %}

{% block content %}
<div class="mainContent">
    <div class="container" id="explanationContainer">
        <h1>
            Choose from the categories below to get started!
        </h1>
        <p>
            Prompts are categorised by type, and can be filtered by category.
            Click on a category to view its subcategories and prompts.
            Click on each prompt to disable or re-enable it from the generator.
            Finally, click the "Generate Prompt" button to get a random prompt from your selected options!
        </p>
    </div>
    <div id="leftColumn">
        <div class="buttonContainer" id="categoryButtons">
            {% for category in categories %}
            <div class="categoryButton ghost" id="{{ category }}" onclick="chooseCategory('{{ category }}')">
                <h1 class="categoryTitle">
                    {{ category }}
                </h1>
            </div>
            {% endfor %}
        </div>
        <div class="container" id="settingsContainer">
            {% for category in categories %}
            {% for subcategory in category.subcategories.all %}
            <div class="subcategoryColumn selectableSub noShow" data-category="{{ category }}">
                <h2 class="subcategoryTitle" id="{{ subcategory }}">
                    {{ subcategory }}
                </h2>
                {% for prompt in subcategory.prompts.all %}
                <div class="prompt selectablePrompt" id="{{ prompt }}" onclick="toggleSelectable('{{ prompt }}')">
                    <h3 class="promptTitle">
                        {{ prompt }}
                    </h3>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div id="rightColumn">
        <div class="container" id="generatedPrompt">
        </div>
        <div class="buttonContainer" id="promptButtons">
        </div>
    </div>
</div>
{% endblock %}
