{% extends "base.html" %}

{% block title %}The Ultimate Character Prompt Generator{% endblock %}

{% block content %}
<div class="mainContent">
    <div id="leftColumn">
        <div class="buttonContainer" id="categoryButtons">
            {% for category in categories %}
            <div class="categoryButton" id="{{ category.name }}">
                {{ category.name }}
            </div>
            <div class="container" id="settingsContainer">
                {% for subcategory in category.subcategories.all %}
                <div class="subcategoryColumn selectableSub">
                    {{ subcategory }}
                    {% for prompt in subcategory.prompts.all %}
                    <div class="prompt selectablePrompt">
                        {{prompt}}
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="rightColumn">
        <div class="container" id="generatedPrompt">
        </div>
        <div class="buttonContainer" id="promptButtons">
        </div>
    </div>
</div>
{% endblock %}
